{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

{% if messages %}
  {% for message in messages %}
    <div>
      <strong>{{message|safe}}</strong>
    </div>
  {% endfor %}
{% else %}
{{order}}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="file-field input-field">
<div class="btn">
<span>Upload a CSV FILE</span>
<input type="file" name="file">
</div>
<button class="waves-effect waves-light btn teal" type="submit">Upload</button>
</div>
</form>
{% endif %}

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });
  </script>
{% endblock javascripts %}